body{
    font-family: arial;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boton{
    margin: 20px 10px;
    color: white;
    background-color: rgb(67, 67, 118);
    padding: 7px 20px;
    transition: 0.4s ease;
}

#boton:hover{
    color: black;
    background-color: cadetblue;
    cursor: pointer;
}

#boton:active{
    background-color: rgb(213, 135, 242);
    transform: scale(1.1);
}

ul{
    list-style-type: none;
    padding: 5px 0px;
}

ul li{
    padding: 10px 10px;
}